{% extends "blog/base.html" %}

{% block title %}
Devops Blog
{% endblock %}

{% block content %}

<section>
    <form action="" method="post">
        <p>
            Please submit your favorite Devops tool (Eclipse, Git, Maven, Jenkins, Junit, TestNG, Cucumber, Selenium)
            <input type="text" name="url">
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
</section>

{% endblock %}

{% block footer %}
{% endblock %}